.app {
  padding-left: 16px;
}

.apps__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.app__wrapper {
  width: 300px;
  margin: 0 8px 16px 0;
  padding: 8px;
  border: 1px solid #000;
}

.app__title {
  margin: 0 0 8px 0;
}

.app__details {
  margin: 0;
  width: fit-content;
}

.app__msg {
  color: #f00;
}
